/* Styles for App Class */
.App {
  /* setting viewing width/height 95% */
  width: 95vw;
  height: 95vh;
  /* margin: top/bottom 2%  left/right auto (centers) */
  margin: 2% auto;
/* make all child components flex-box items - you want them display horizontally in a row */
display: flex;
background: blueviolet;

/* border  */
border: 2 px solid black;
}
/*  App.js */
.App-Section-One {
  /* Height of this element will take up 100% of Parent Element ( App.js )*/
  /* height: 100%; */
/* Set width to 30% (70% will be taken up in another category */
width: 30%;

}
/*  App.js */
.App-Section-Two {
/* height: 100%; */
/* takes up the rest of the screen where categories will be displayed */
width: 70%;

}